{{#each instances}}
	<div class="grid-item">
		<div>
			<b>{{../name}} </b> 
		</div>
		<div>
			<b>DNSName: </b>{{../dnsName}}
		</div>
		<div>
			<b>ELB: </b> {{../elb}}
		</div>
		<div>
			<b>IP: </b> {{this.ip}}
		</div>
		<div>
			<b>Version: </b> {{this.version}}
		</div>
		<div>
			<b>Status: </b> {{{this.status}}}
		</div>
	</div>
{{/each}}